body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
}

header, footer {
    background-color: lightcyan;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}
header h1 {
    margin: 0;
    padding: 10px;
}

fieldset {
    background-color: lavender;
    box-shadow: 4px 5px 2px rgb(142, 142, 167);
    border-radius: 5px;
    width: 85%; 
    margin: auto;
}
legend {
    background-color: rgb(121, 121, 171);
    color: ivory;
}
.other {
    padding: 3px;
}

.rows, .checkrows {
    display: flex;
    gap: 10px;
    margin: 10px 0;
    
    
}
.rows label {
    width: 150px;
    text-align: right;
}
.space {
    width: 150px;
    text-align: right;
}
.rows input:not([type='submit']), .rows select, .rows textarea {
    padding: 3px 8px;
    background-color: rgb(146, 146, 199);
    color: ivory;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;border-radius: 5px;
}
.rows input:not([type='submit']):focus, .rows select:focus, .rows textarea:focus {
    background-color: rgb(247, 247, 255);
    color: black;
}
.rows input[type='submit'] {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(121, 121, 171);
    color: ivory;
    border-radius: 5px;
}

@media ONLY screen AND (max-width: 480px) {
    .rows, .checkrows {
        flex-direction: column;
    }
    fieldset {
        width: 95%;
    }
    .rows label, .space {
        text-align: left;
    }
    .rows input[type='submit'] {
    padding: 3px 2px;
    font-size: 15px;
}
}