body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 13pt;
    color: rgb(82, 59, 121);
}

header {
    background-color: cornflowerblue;
    margin: 25px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 200px;
}

nav {
    border: 3.5px dashed;
    padding: 20px 40px;
    background-color: rgb(231, 144, 150);
}

.ex {
    background-color: aqua;
    overflow: scroll;
}

h1 {
    border: 5px dotted ;
    border-color: blue;
    width: 100%;
    height: 100%;
}

main{
    border: solid thick black;
    padding: 10px 20px 30px 40 px;
}