body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    background-color: rgb(170, 161, 224);
    padding: 10px;
}

header h1 {
    background-color: rgb(170, 161, 224);
    margin: 0;
}

nav {
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    text-align: center;
    color: lightsalmon;
}

nav a:hover {
    text-decoration: underline;
    color:rgb(202, 93, 53);
}

caption {
    font-size: 14pt;
}

.info {
    display: flex;
    justify-content: space-evenly;
}

.table {
    border-spacing: 0;
    border: thin solid rgb(186, 186, 186);
    text-align: center;
}

.table td, .table th {
    padding: 10px;
}

.table thead tr {
    background-color:blanchedalmond;
    
}

.table tbody tr {
    background-color: rgb(210, 232, 243);
}

.table tbody tr:nth-child(even){
    background-color: rgb(156, 184, 156);
}

.sidebar {
    width: 300px;
}