body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
}
header {
    padding: 10px;
}
header h1 {
    margin: 0;
}
nav {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
nav a {
    text-decoration: none;
    width: 75px;
    padding: 15px;
    text-align: center;
    font-size: 17px;
}
.current {
    color: black;
}
nav a:hover {
    text-decoration: underline;

}
.cards {
    text-align: center;
}
@media ONLY screen AND (max-width: 500px) {
    nav {
        display: flex;
        flex-flow: column wrap;
    }
    nav a {
        width: 100%;
    }
}

/*Incarnations css */
.table {
    border-spacing: 0;
    border: thin solid;
    text-align: center;
    margin: auto auto;
}
.table td, .table th {
    padding: 10px;
}
.table thead tr {
    background-color: aliceblue;
}
.table tbody tr {
    background-color: antiquewhite;
}
.table tbody tr:nth-child(even){
    background-color: azure;
}

/*Constellation css */
.constinfo {
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-evenly;
}
.const {
    display: flex;
    flex-wrap: wrap;
}
.info {
    border: solid thin cornflowerblue;
    border-radius: 3px;
    margin: 10px;
    box-shadow: 2px 3px 4px black;
    width: 250px;
    padding: 10px;
    text-align: center;
    background-color: aliceblue;
}
.info img {
    width: 100%;
}
@media ONLY screen AND (max-width: 500px) {
    .info {
        width: 100%;
    }
    .info img {
        width: 100%;
    }
}