body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    background-color: rgb(9, 7, 23);
    color: white;
}
header {
    padding: 10px;
    background-color: black;
}
header h1 {
    margin: 0;
    background-color: black;
}
main {
    padding: 10px;
}
nav {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: black;
}
nav a {
    text-decoration: none;
    width: 75px;
    padding: 15px;
    text-align: center;
    font-size: 17px;
    color: rgb(255, 245, 196);
}
.current {
    color: rgb(211, 203, 255);
}
nav a:hover {
    text-decoration: underline;

}
footer {
    padding: 10px;
}
.cards {
    text-align: center;
}
figcaption {
    font-style: italic;
}
main a {
    color: rgb(255, 245, 196);
}
@media ONLY screen AND (max-width: 500px) {
    nav {
        display: flex;
        flex-flow: column wrap;
    }
    nav a {
        width: 100%;
    }
}
/*Index css */
.media {
    display: flex;
    justify-content: space-evenly;
}
@media ONLY screen AND (max-width: 500px) {
    .media {
        display: flex;
        flex-wrap: wrap;
    }
}

/*Worldbuilding css */
.world {
    display: flex;
}
@media ONLY screen AND (max-width: 500px) {
    .world {
        display: flex;
        flex-wrap: wrap;
    }
}
/*Incarnations css */
.table {
    border-spacing: 0;
    border: thin solid black;
    text-align: center;
    margin: auto auto;
    color: black;
}
.table td, .table th {
    padding: 10px;
}
.table thead tr {
    background-color: rgb(56, 190, 245);
}
.table tbody tr {
    background-color: rgb(252, 248, 227);
}
.table tbody tr:nth-child(even){
    background-color: azure;
}

/*Constellation css */
.constinfo {
    display: flex;
    justify-content: space-evenly;
}
.const {
    display: flex;
    flex-wrap: wrap;
    
}
#pic {
    float: right;
    padding: auto;
    font-style: italic;
    top: -10;
}
.info {
    border: solid thin #ffffff;
    border-radius: 3px;
    margin: 10px;
    box-shadow: 3px 4px 4px rgb(155, 214, 252);
    width: 250px;
    padding: 10px;
    text-align: center;
    background-color: rgb(56, 190, 245);
    color: #ffffff;
}
.info img {
    width: 100%;
}
@media ONLY screen AND (max-width: 500px) {
    .info {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .info img {
        width: 100%;
    }
    .cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    }
    #pic {
        float: left;
    }
    .constup {
        display: flex;
        flex-wrap: wrap; 
    }
}

/*Author CSS */
.logo {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
iframe {
    border: 0;
}
fieldset {
    background-color: rgb(56, 190, 245);
    box-shadow: 5px 5px 4px rgb(155, 214, 252);
    border-radius: 3px;
    width: 85%;
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
legend {
    background-color: rgb(9, 7, 23);
}
.qna, .qnas {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}
.qna label {
    width: 150px;
    text-align: right;
}
.space {
    width: 150px;
    text-align: right;
}
.qna input:not([type='submit']), .qna datalist, .qna textarea {
    padding: 3px 8px;
    background-color: rgb(56, 190, 245);
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.qna input[type='submit'] {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    border-radius: 5px;
    background-color: rgb(56, 190, 245);
    color: #ffffff;
}
@media ONLY screen AND (max-width: 500px) {
    .qna, .qnas {
        flex-direction: column;
    }
    fieldset {
        width: 75%;
    }
    .qna label, .space {
        text-align: left;
    }
    .qna input[type='submit'] {
    padding: 3px 2px;
    font-size: 18px;
}
}